/************************
GENERAL
*************************/


html, body 
h1,
h2,
h3,
h4,
h5,
p,
a,
.ui,
.ui.button 
{
	font-family: 'PT Sans', sans-serif;
}

.ui.basic.button {
	box-shadow: 0px 0px 0px 1px #1A1A1A inset;
	color: #1A1A1A !important;
	font-weight: bold;
}

.ui.basic.button:hover {
	box-shadow: 0px 0px 0px 1px #1A1A1A inset;
	background: #CC9C00 none !important;
	color: #1A1A1A !important;
}

a {
	color: #1A1A1A;
}

a:hover {
	color: black;
}

/************************
NAVIGATION
*************************/

img {
	border-radius: 3px;
}


.ui.menu {
	background: transparent;
	box-shadow: none;
	border: none;
	float: right;
    font-size: 1.5rem;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
}


.logo {
	position: absolute;
	top:0;
	left: 10%;
	z-index: 6;
	width: 9em;
}

.ui.menu .item {
	color: white;
	padding: 0.22857143em 1.04285714em;
}

.ui.menu a.item:hover {
	border-color: #CC9C00;
}

.ui.menu .item > img:not(.ui) {
	width: 4.0em;
}

.ui.menu:not(.vertical) .item {
	color: white;
}

.ui.menu:not(.vertical) a {
	border-bottom: 4px solid transparent;
}

#heroimage {
	background-image: url(../img/hero.jpg);
	height: 750px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/************************
MOBILE MENU
*************************/

#drop-menu {
	display:none;
}

.slicknav_menu {
	float: right;
	width: 50%;
	z-index: 999;
	background-color: transparent;
}

.slicknav_menu a.item {
	background-color: #1A1A1A;
	text-align: left;
	margin: 0;
}

.slicknav_menu a.item:hover {
	color: black;
	background-color: #CC9C00;
}



/************************
MAIN
*************************/

.features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(165,92, 46);
}

.features>.item {
	padding: 35px 45px 35px 5%;
	margin: 5px;
	color: white;
	font-size: 1.5em;
}

.ui.grid {
	margin: 0;
}

.ui.grid > .row {
	padding: 0;
}


/************************
PICTURE/SLOGAN SPREADS
*************************/

#spread1, #spread2 {
	padding-top: 60px;
	padding-bottom: 50px;
}

.spread hr {
    margin: 0;
    background-color: #FFFFFF;
    height: 6px;
    width: 50px;
    border: none;
}

#spread1 {
	background-color: #ebe2c4;
	background-image: url(../img/unroasted.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

div#spread1-left, div#spread2-right {
	padding: 40px !important;
}

#spread1-left h1, #spread2-right h1 {
	font-size: 2.5em;
	font-weight: bold;
    padding-bottom: 30px;
}

#spread1-left p, #spread2-right p {
	line-height: 1.5;
	font-size: 1.3em;
	margin: 30px 0 40px 0;
}

#spread1-right {
	padding-left: 0px;
	padding-right: 20px;
}

div#spread2 {
	background-color: rgb(199,164,142);
	background-image: url(../img/bag.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

#spread2-left img {
	width: 80%;
	border: 2px solid white;
	border-radius: 3px;
	margin-left: 10%;
	transform: rotate(-5deg);
}


/************************
CENTER
*************************/
.beans {
	background-image: url(../img/beans.jpg);
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 120px 10% 40px 10%;
}

.beans h1 {
	font-size: 3em;
}


#learnmore {
	background-color: rgb(165,92, 46);
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

#learnmore .column {
	color: black;
	padding: 45px 35px !important;
	color: white;
	font-size: 1.5em;
}

#learnmore #learnmore1 {
	border-bottom: 1px solid rgba(256,256,256,0.3);
}

#learnmore #learnmore2 {
	position: relative;
}

#backtotop {
	position: fixed;
    bottom: 294px;
    right: 20px;
    display: none;
	color: white;
	background-color: #1A1A1A;
	height: 41px;
    width: 41px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}

.angle.up.icon {
	margin: 0.4em 0 0 0;
}

#backtotop:hover {
    opacity: 0.6 !important;
}

.stuck {
	visibility: visible;
	display: block !important;
}


/************************
FOOTER
*************************/

#contactfooter {
	background-color: #1A1A1A;
	min-height: 80px;
	padding: 0px;
	margin-top: 0;
	font-size: 1.2em;
}

#contactfooter div {
	color: white;
	padding: 30px !important;
}

#contactfooter div ul {
	list-style-type: none;
	text-align: center;
}

#contactfooter div li {
	display: inline;
	margin: 0 5px 0 5px;
}

#contactfooter div a {
	color: white;
}

#contactfooter div a:hover {
	color: #CC9C00;
}

#contact {
	text-align: right;
	padding-right: 20px;
}

#contact p {
	margin-bottom: 0;
}



/************************
MEDIA QUERIES
*************************/

@media (min-width: 768px) {

#drop-menu {
	display:flex;
}

.slicknav_menu {
	display:none;
}

#backtotop {
	bottom: 255px;
}

.features {
	flex-direction: row;
}

.features>.item {
    padding: 35px 30px 35px 30px;
    font-size: 1.5em;
}

#spread2 {
	padding-top: 80px;
	padding-bottom: 60px;
}

#learnmore #learnmore1 {
	border-right: 1px solid rgba(256,256,256,0.3);
	border-bottom: none;
}
	

}


@media (min-width: 933px) {

.ui.menu {
	width: 90%;
}

.features>.item {
    padding: 45px 30px 45px 30px;
    font-size: 1.6em;
}

.beans {
	height: 650px;
	padding: 15% 15% 40px 15%;
}

.beans h1 {
	font-size: 4.5em;
}

#spread2, #spread1 {
	padding: 100px 5% 80px 5%;
}

div#spread1-left {
    padding-top: 20px !important;
}

div#spread2 {
	padding-bottom: 80px;
}

#learnmore {
	padding: 30px;
}

#backtotop {
	height: 55px;
    width: 55px;
    border-radius: 100px;
    font-size: 1.5em;
}

#contactfooter {
	font-size: 1.5em;
	padding: 30px;
}


}
